# Ignore .zip files
*.zip
# Ignore .csv files
*.csv
# Include CDC deaths baseline
!notebook/CDC_2018_All_Causes_Death_by_County_and_Month.csv
# Ignore checkpoint files
notebook/.ipynb_checkpoints
# Ignore expanded data
notebook/csse_covid_19_daily_reports
